.nav-link {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style-type: none;
  align-items: center;
  margin-right: 60px;
}

.nav-link a{
  text-decoration: none;
  color: #f2f2f2;

}

.nav-link a:hover{
  color: #4fa3db;
  text-decoration: underline;
}

.navmenu {
  display: flex;
  justify-content: end;
  padding: 0 100px 0 100px;
}

header {
  position: sticky;
  background-color: #04aa6d;
  top: 0%;
}

.ws-title {
  font-family: roboto;
  font-style: bold;
  font-size: 50px;
  color: #d12222;
}

.ws-parag {
  font-family: sans-serif;
  font-style: italic;
  font-size: 15px;
  font-size-adjust: 0.5;
  text-align: center;
}

.ws-plan {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.ws-plan td,
.ws-plan th {
  border: 1px solid #ddd;
  padding: 8px;
}

.ws-plan tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ws-plan tr:hover {
  background-color: #ddd;
}

.ws-plan th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.ws-desc {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.ws-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #04aa6d;
  border-radius: 4px;
}

.ws-btn {
  background-color: #04aa6d;
  border-radius: 5px;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 6px 18px;
}
